body {
    background-color: rgb(31, 188, 236);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(141, 216, 21);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    color: wheat;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h3 {
    text-align: left;
    margin: 40px;
    color: white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h4 {
    color: white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

p {
    color: rgb(39, 243, 32);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 200px;
    border-radius: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nasigoreng {
    width: 90%;
    height: 90%;
    max-width: 200px;
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: left;
    margin-right: 10px;
}

.mieayam{
    width: 90%;
    height: 90%;
    max-height: 150px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: left;
    margin-right: 10px;
}

.colnasigoreng {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 100;
    background: rgb(59, 153, 230);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10px;
}


.colnasigoreng:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.teksnasigoreng {
    text-align: left;
    width: 90%;
    max-width: 300px;
}

.colmieayam {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 100;
    background: rgb(59, 153, 230);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10px; 
}

.colmieayam:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.teksmieayam {
    text-align: left;
}

.col3 {
    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: rgb(59, 153, 230);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10px;
}

.col3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.imgcol3 {
    width: 90%;
    height: 90%;
    max-width: 200px;
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: left;
    margin-right: 10px;
}

.textcol3 {
    text-align: left;
}